In [28]:
import pandas as pd
import os
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
import sqlite3
from sqlalchemy import Column, Integer, String, Float, ForeignKey, Date, MetaData, Table

In [73]:
measurementdf = pd.read_csv(os.path.join('resources','homework11','clean_measurement.csv'))
stationdf = pd.read_csv(os.path.join('resources','homework11','clean_station.csv'))
measurementdf.head()

   Unnamed: 0      station        date  prcp  tobs
0           0  USC00519397  2010-01-01  0.08    65
1           1  USC00519397  2010-01-02  0.00    63
2           2  USC00519397  2010-01-03  0.00    74
3           3  USC00519397  2010-01-04  0.00    76
4           4  USC00519397  2010-01-06   NaN    73

In [76]:
# stationdf.set_index('Unnamed: 0', inplace=True)
# measurementdf.set_index('Unnamed: 0', inplace=True)
stationdf.rename(columns={'Unnamed: 0':'id'}, inplace=True)
measurementdf.rename(columns={'Unnamed: 0':'id'}, inplace=True)
stationdf.head()

,id,station,name,latitude,longitude,elevation,location
0,0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,POINT(21.2716 -157.8168)
1,1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6,POINT(21.4234 -157.8015)
2,2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0,POINT(21.5213 -157.8374)
3,3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9,POINT(21.3934 -157.9751)
4,4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6,POINT(21.4992 -158.0111)

In [77]:
Base = declarative_base()
class Measurement(Base):
    __tablename__ = 'measurement'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(Date)
    prcp = Column(Float)
    tobs = Column(Float)
    
class Station(Base):
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    location = Column(String(255))

In [78]:
engine = create_engine('sqlite:///hawaii2.sqlite')
Base.metadata.create_all(engine)

In [81]:
stationdf.to_sql('station',engine, if_exists='append', index=id)

In [82]:
measurementdf.to_sql('measurement', engine, if_exists='append', index=id)